body { background-color: #f2f2f2; }
.clearfix { clear: both; }
.author-info-widget { background-color: #FFF; margin-bottom: 20px; padding: 10px 15px 0 15px; border: 1px solid #ddd; border-radius: 8px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04); }
.author-info-widget-words-main { border: 1px dashed #C9C8C8; margin: 15px 0px; }
.author-info-widget-img img { -webkit-transition: all 1.2s; transition: all 1.2s; }
    .author-info-widget-img img:hover { box-shadow: 0px 0px 2px 2px #6dae78 !important; -webkit-transform: scale(1.2); transform: scale(1.2); -ms-transform: scale(1.2); }
.author-info-widget ul li { float: left; width: 20%; text-align: center; color: #867f6f; }
.fadeInUp { -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }
.widget { background: #fff; margin: 0 0 10px 0; border: 1px solid #ddd; border-radius: 8px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04); }
    .widget .widget-title { background: #fff; height: 40px; line-height: 40px; border-bottom: 1px solid #e2e1e1; margin: 0 20px 0 20px; text-align: center; font-size: 1.8rem; letter-spacing: 4px; color: #606777; }
    .widget ul, .tagcloud { padding: 15px; }
        .widget ul li { width: 99%; line-height: 28px; white-space: nowrap; word-wrap: normal; text-overflow: ellipsis; overflow: hidden; }

.clear { clear: both; display: block; }
.tagcloud { padding: 5px 0 5px 2px; }
    .tagcloud > a { font-size: 14px; text-decoration: none; float: left; margin: 4px; padding: 0 7px; line-height: 26px; text-align: center; border: 1px solid #ddd; border-radius: 8px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04); }
        .tagcloud > a:hover { background: #2f889a; color: #fff !important; border: 1px solid #2f889a; transition: all 0.1s ease-in 0s; }
.li-number { float: left; background: #c40000; font-size: 12px; color: #fff; line-height: 150%; margin: 4px 5px 0 0; padding: 0 5px; border-radius: 8px; }
.li-numbers { float: left; background: #ccc; font-size: 12px; color: #fff; line-height: 150%; margin: 4px 5px 0 0; padding: 0 5px; border-radius: 8px; }
.hot_article .avatar { width: 32px; height: 32px; border-radius: 5px; margin: 6px 8px 0 0; -webkit-transition: .8s; border: 1px solid #ddd; }
    .hot_article .avatar:hover { transform: rotate(720deg); border-radius: 64px !important; box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0) !important; }

/*多个a标签hover统一样式*/
.cat-list a:hover, .entry-title > a:hover, .cat-box .cat-title a:hover, .hot_article a:hover { color: #04a4cc; text-decoration: none; }
a { color: #444; }
ol, ul { list-style: none; }
.banner-word { background-color: rgba(0,0,0,0.3); padding: 1%; border-radius: 4px; }
.main-inner { margin-top: 30px; transition-duration: .3s; display: block; }
    .main-inner .flbox .post { position: relative; display: block; margin: 0 0 15px; padding: 15px; border: 1px solid #e6e6e6; border-radius: 2px; background-color: #fff; box-shadow: 1px 1px 2px #e2dede; moz-box-shadow: 0 0 4px #cecccc; }
.thumbnail { position: relative; float: right; clear: both; overflow: hidden; margin: 0 0 0 20px; width: 300px; height: 200px; -webkit-transition: -webkit-transform ease .15s,box-shadow ease .2s,z-index ease .15s; }
.new-ico { position: absolute; top: -1px; right: -1px; padding: 0 3px; border: 1px solid #1abc9c; border-radius: 0 2px 0 0; background: #1abc9c; color: #fff; font-size: 14px; line-height: 20px; }
.archive-content { color: #777; font-size: 14px; line-height: 26px; }
.entry-meta { position: absolute; padding: 0; color: #999; line-height: 20px; }
.clear { clear: both; }
.entry-header h4 { line-height: 28px; font-weight: 550; }
.archive-tag { position: absolute; bottom: 18px; left: 15px; display: block; padding: 0 0 0 5px; height: 20px; border-left: 5px solid #1abc9c; color: #999; font-weight: blod; line-height: 20px; }
    .archive-tag a, .s_tag a { padding: 0 10px 0 0; word-wrap: break-word; word-break: break-all; }
.flbox .thumbnail a img, .recommend-items .item a img, .top_post_item .thumbnail a img, .flbox .post .thumbnail a img { -webkit-transition: all 1.2s; transition: all 1.2s; }

.flbox .thumbnail a img, .recommend-items .item a img, .top_post_item .thumbnail a img, .xl3 .cat-site .thumbnail a img { -webkit-transition: all 1.2s; transition: all 1.2s }
    .flbox:hover a img, .recommend-items .item:hover a img, .top_post_item:hover a img, .xl3 .cat-site .thumbnail a img:hover { border-radius: 0; -webkit-transform: scale(1.2); transform: scale(1.2); -ms-transform: scale(1.2) }
.flbox:hover h4 a { color: #1abc9c }
.flbox:hover { box-shadow: 0 3px 6px #bbb }
.cat, .comment, .date, .edit, .s_cat, .s_tag, .views { margin-right: 10px; color: #a9a9a9; font-size: 14px; }
/*动画**/
.picture-h-img:hover a img, .tao-h-img:hover a img, .line-one-thumbnail:hover a img, .line-small .small-thumbnail:hover a img, .line-big .small-thumbnail:hover a img, .section-thumbnail:hover a img, .custom-thumbnail:hover a img, .thumbnail:hover a img, .related-site-img:hover a img, .single-goods-img:hover a img, .insets:hover img, .picture-img:hover a img, .tao-img:hover a img, #at-top .small-thumbnail:hover a img, .format-img:hover a img, .gr-thumbnail:hover a img { transition: All 0.7s ease; -webkit-transform: scale(1.3); -moz-transform: scale(1.3); -ms-transform: scale(1.3); -o-transform: scale(1.3); }
.tao-box:hover, .picture-box:hover, .picture-h:hover, .tab-site:hover, .cat-box:hover { box-shadow: 0 0 6px 3px #ddd; }
a, input, textarea, b, li, i, button, .imgbox, .imgbox svg line, .popup, .overlay, .avatar, .style-switch, .swiper-pagination-bullet, .swiper-button { -moz-transition: ease-in-out 0.25s; -webkit-transition: ease-in-out 0.25s; -o-transition: ease-in-out 0.25s; -ms-transition: ease-in-out 0.25s; /* transition: ease-in-out 0.25s; */ transition-property: initial; transition-duration: 0.25s; transition-timing-function: ease-in-out; transition-delay: initial; }

/*底部**/
.cat-list { padding-left: 2px; }
.cat-box { position: relative; background: #fff; margin: 0 0 10px 0; border: 1px solid #ddd; border-radius: 8px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04); }
    .cat-box .cat-title { margin: 0; background: #fff; height: 40px; line-height: 40px; border-bottom: 1px solid #e2e1e1; font-size: 1.8rem; letter-spacing: 4px; width: 100%; color: #606777; border-radius: 8px 8px 0 0; }
        .cat-box .cat-title a { float: left; width: 98%; margin-left: 20px; color: #1abc9c; }
        .cat-box .cat-title .fa-angle-right { float: right; font-size: 18px; color: #999; line-height: 40px; margin-right: 15px; }
clear { clear: both; display: block; }
.cat-box .cat-site { padding: 10px 20px 15px 20px; }
    .cat-box .cat-site h4 { font-weight: 550; line-height: 30px; margin: 0 0 5px 0; width: 90%; white-space: nowrap; word-wrap: normal; text-overflow: ellipsis; overflow: hidden; }
    .cat-box .cat-site .thumbnail { width: 180px; }
    .cat-box .cat-site .thumbnail { position: relative; float: left; max-width: 200px; height: auto; clear: both; margin: 1px 20px 0 0; overflow: hidden; transition-duration: .5s; border-radius: 8px; -webkit-box-shadow: rgba(0,0,0,0.496094) 3px 3px 3px; }
        .cat-box .cat-site .thumbnail a img { width: 180px; height: 130px; }
    .cat-box .cat-site .cat-main { height: 130px; overflow: hidden; color: #777; margin: 0 0 5px 0; }
.cat-box .fa-angle-right, .tab-site .fa-angle-right { margin-right: 5px; color: #999; }
.cat-box .cat-site .cat-list li.list-date { float: right; color: #999; }
.cat-box .cat-site .cat-list li.list-title { width: 80%; line-height: 210%; white-space: nowrap; word-wrap: normal; text-overflow: ellipsis; overflow: hidden; }

/*页脚*/
.footer { margin-top: 20px; color: #ccc; background: #000 no-repeat; position: relative; padding: 10px 0; box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1); }
    .footer a { color: #ccc; }
        .footer a:hover { color: #1ba1e2 !important; text-shadow: -2px 2px 10px #1ba1e2 !important; -webkit-transition: all 0.3s ease-out; outline: 0; font-weight: bold; text-decoration: none; }
#scroll { width: 32px; float: right; position: fixed; right: 10px; bottom: 50px; z-index: 9999; padding: 0px; }
.log { position: relative; }
.log-no { display: none; }
#scroll li a { font-size: 16px; color: #f8f8f8; width: 32px; height: 32px; line-height: 28px; text-align: center; vertical-align: middle; margin-top: 4px; display: block; cursor: pointer; border: 1px solid #ddd; border-radius: 40px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04); }
.log-prompt { position: absolute; bottom: 2px; right: 43px; color: #fff; line-height: 27px; animation: blink 1.5s linear infinite; }
.log-arrow { position: relative; width: 80px; padding: 0 10px; background: #f40; border-radius: 8px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }
.scroll-h { background-color: #ff5e5c; }
.scroll-b { background-color: #ff9531; }
.scroll-c { background-color: #24a5db; }
.qr { background-color: #4a4a4a; }
    .qr .fa-qrcode { font-size: 20px !important; line-height: 32px !important; }
.qr-img { position: fixed; background: #fff; bottom: 50px; right: 50px; max-width: 300px; z-index: 9999; display: none; border-radius: 4px; padding: 10px 10px 2px 10px; animation: fade-in; animation-duration: 0.5s; -webkit-animation: fade-in 0.5s; border: 1px solid #ddd; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
#output img { position: absolute; top: 72px; right: 72px; width: 25px; height: 25px; }
img.alignnone { margin: 0 auto; display: block; max-width: 100%; width: auto; height: auto; border-radius: 8px; -webkit-box-shadow: rgba(0,0,0,0.496094) 3px 3px 3px; vertical-align: middle; }
.qr-img .arrow { position: absolute; font-size: 26px; bottom: 2px; }
.arrow-z { color: #c6c6c6; right: -9px; }
.arrow-y { color: #fff; right: -8px; }

/*评论*/
.comment-respond { 
    margin-bottom:20px;
}




@media screen and (min-width: 900px) { #scroll li a:hover { background: #2f889a; color: #fff !important; border: 1px solid #2f889a; transition: all 0.2s ease-in 0s; }
}
@media screen and (max-width: 900px) {
    .qr-site { display: none; }
}

@media screen and (max-width: 620px) {
    .cat-box .cat-site .thumbnail { width: 100px; height: 75px; }
        .cat-box .cat-site .thumbnail a img { width: 100px; height: 75px; transition-duration: .5s; border-radius: 8px; }
    .cat-box .cat-main { height: 75px; overflow: hidden; }
}

@media screen and (max-width:1080px) {
    .top-nav { width: 98% }
}

@media screen and (max-width:600px) {
    .single-content p { margin: 0 0 10px 0 }
    .liubaixx { display: none }
}

@media screen and (min-width:550px) {
    .pagination { float: right }
        .pagination a, .pagination a:visited { margin: 0 0 10px 5px; box-shadow: 0 1px 1px rgba(0,0,0,.03) }
            .pagination .current, .pagination .dots, .pagination a, .pagination a:visited { float: left; padding: 8px 11px; border: 1px solid #ebebeb; border-radius: 2px; background: #fff; line-height: 100% }
        .pagination .current, .pagination .dots { margin: 0 0 0 5px }
        .pagination a:hover { border: 1px solid #1abc9c; background: #1abc9c; color: #fff }
        .pagination span.current { border: 1px solid #f2f2f2; background: #f2f2f2; color: #000; font-weight: 700 }
    .current-page-selector, .pages, .screen-reader-text { display: none }
}

@media screen and (max-width:1080px) {
    .breadcrumb, .footer-widget { width: 98% }
    .follow { width: 28% }
    .breadcrumb { width: 98% }
    .hotw1 { display: none }
}

@media screen and (max-width:1023px) {
    .dhxiaoshi { display: none }
}

@media screen and (max-width:950px) {
    .top_right img { width: 550px; height: 78px }
}

@media screen and (max-width:960px) {
    .nav-search { margin: 7px 10px 0 0; padding: 0 8px; border: 1px solid #ebebeb !important; background: #fff !important; color: #999; vertical-align: top; line-height: 25px }
        .nav-search:hover { border: 1px solid #a3a3a3; background: #a3a3a3 !important; color: #fff }
    .mobile-search { margin: 0 0 5px 20px; padding: 0 8px 2px; height: 25px; border: 1px solid #ebebeb; background: #fff; font-size: 13px }
    .logo-site { margin: 5px 0 0 10px }
    .single-content img { max-width: 100% }
    .r-hide { display: none }
    .new-icon { font-size: 9pt; line-height: 18px }
}

@media screen and (max-width:768px) {
    .readers a.item-top { width: 48% }
    .entry-content .archive-content { overflow: hidden; height: 84px }
}

@media screen and (max-width:640px) {
    .recommend-items { display: none }
    .entry-header h1 { background: #fff; box-shadow: 0 1px 1px transparent; text-align: center }
    .site-info { padding: 5px 0 }
    .footer-widget .widget { float: inherit; margin: 0; width: 99.6% }
}

@media screen and (max-width:620px) {
    .thumbnail, .flbox .post .thumbnail a img { width: 75pt; height: 75px }
    .cat-box .cat-main { overflow: hidden; height: 75px }
    .entry-header h2 { font-size: 16px; font-weight: 400; overflow: hidden; margin: 0 0 5px; height: 52px; text-align: justify; word-break: break-all }
    .archive-content, .entry-more { display: none }
    .thumbnail { margin: 0 10px 0 0 }
    .aside-cat, .entry-content .entry-meta .cat { display: none }
    .entry-meta { left: 15px; display: inline; padding: 0; }
    .format-aside .entry-meta { float: left }
    .xiaoshi { display: none }
}

@media screen and (max-width:440px) {
    .readers a.item-top { width: 98% }
    .post { padding: 15px }
    .single-content h2 { margin: 10px -15px }
    .single-content h3, .single-content h4, .single-content h5 { margin: 0 0 10px; text-indent: 0 }
    .entry-meta { bottom: 10px }
    .plxiaoshi { display: none }
    .single-content ol li, .single-content ul li { margin: 0; line-height: 190% }
    .single_info { text-align: left }
    .entry-header h1 { padding: 0; text-align: left }
    .single-content p { text-indent: 0 }
}

@media screen and (max-width:320px) {
    .btxiaoshi, .entry-meta .comment, .single_info .comment, .tools, .ydxiaoshi { display: none }
}

@media screen and (max-width:240px) {
    .cat-list .list-date, .entry-meta .views, .single_info .views { display: none }
}

@media screen and (min-width:300px) {
    .xl3 { float: left; width: 50% }
}

@media screen and (min-width:1080px) {
    .xm3 { float: left; width: 50% }
}

@media screen and (max-width:700px) {
    .xl3 { width: 100% }
}

@media screen and (min-width:280px) {
    .cx7 { width: 50%; transition-duration: .5s }
}

@media screen and (min-width:550px) {
    .cx7 { width: 33.33333333%; transition-duration: .5s }
}

@media screen and (min-width:700px) {
    .cx7 { width: 25%; transition-duration: .5s }
}

@media screen and (min-width:900px) {
    .cx7 { width: 20%; transition-duration: .5s }
}

@media screen and (min-width:1024px) {
    .cx7 { width: 14.2857%; transition-duration: .5s }
}

@media screen and (max-width:1300px) {
    .nav-single-c a { display: none }
}

@media screen and (max-width:1080px) {
    .Author-recommendation { width: 50% }
}

@media screen and (max-width:720px) {
    .Author-recommendation { width: 100% }
}

@media screen and (max-width:414px) {
    .tab-hd .current { width: 88px !important }
    .tab-hd-con { width: 86px !important }
}

.animated { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both }

@-webkit-keyframes fadeInUp {
    0% { opacity: 0; -webkit-transform: translateY(20px); transform: translateY(20px) }
    100% { opacity: 1; -webkit-transform: translateY(0); transform: translateY(0) }
}

@keyframes fadeInUp {
    0% { opacity: 0; -webkit-transform: translateY(20px); -ms-transform: translateY(20px); transform: translateY(20px) }
    100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0) }
}

@media only screen and (min-width:900px) {
    .timeline-block { margin: 15px 0 }
        .timeline-block:first-child { margin-top: 0 }
        .timeline-block:last-child { margin-bottom: 0 }
}

@media only screen and (max-width:900px) {
    .timeline-img { font-size: 14px; font-size: 1.4rem; font-weight: 700; text-align: center; line-height: 33px }
}

@media only screen and (min-width:900px) {
    .timeline-img { width: 60px; height: 60px; left: 50%; margin-left: -30px; -webkit-transform: translateZ(0); -webkit-backface-visibility: hidden }
    .cssanimations .timeline-img.is-hidden { visibility: hidden }
    .cssanimations .timeline-img.bounce-in { visibility: visible; -webkit-animation: bounce-1 .6s; -moz-animation: bounce-1 .6s; animation: bounce-1 .6s }
}

@media only screen and (min-width:768px) {
    .timeline-content h2 { font-size: 16px; font-size: 1.6rem }
    .timeline-content p { font-size: 14px; font-size: 1.4rem }
    .timeline-content .date, .timeline-content .read-more { font-size: 14px; font-size: 1.4rem }
}

@media only screen and (min-width:900px) {
    .timeline-content { margin-left: 0; padding: 1.6em; width: 45% }
        .timeline-content::before { top: 24px; left: 100%; border-color: transparent; border-left-color: #fff }
        .timeline-content .read-more { float: left }
        .timeline-content .date { position: absolute; width: 100%; left: 122%; top: 6px; font-size: 16px; font-size: 1.6rem }
    .timeline-block:nth-child(even) .timeline-content { float: right }
        .timeline-block:nth-child(even) .timeline-content::before { top: 24px; left: auto; right: 100%; border-color: transparent; border-right-color: #fff }
        .timeline-block:nth-child(even) .timeline-content .read-more { float: right }
        .timeline-block:nth-child(even) .timeline-content .date { left: auto; right: 122%; text-align: right }
    .cssanimations .timeline-content.is-hidden { visibility: hidden }
    .cssanimations .timeline-content.bounce-in { visibility: visible; -webkit-animation: bounce-2 .6s; -moz-animation: bounce-2 .6s; animation: bounce-2 .6s }
}

@media only screen and (min-width:900px) {
    .cssanimations .timeline-block:nth-child(even) .timeline-content.bounce-in { -webkit-animation: bounce-2-inverse .6s; -moz-animation: bounce-2-inverse .6s; animation: bounce-2-inverse .6s }
}

@media screen and (min-width:999px) {
    .picture-h-img { height: 135px; overflow: hidden }
}

.xm4 { position: relative; min-height: 1px }

@media screen and (min-width:320px) {
    .xl4 { float: left; width: 50% }
}

@media screen and (min-width:1080px) {
    .xm4 { float: left; width: 25% }
}

@media screen and (max-width:1080px) {
    .xm4 { width: 25% }
}

@media screen and (max-width:480px) {
    .line-four { margin: 0 -4px }
    .xm4 { width: 50% }
}

@media screen and (max-width:480px) {
    .tab-bd li { width: 95%; margin: 0 }
}

@media screen and (max-width:1024px) {
    .nbs-flexisel-item img { width: 230px\9; transition-duration: .5s }
}
