@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/Content/css/bootstrap.min14ed.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min93e3.css" rel="stylesheet" />
    <link href="~/Content/css/animate.min2932.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-table.min12.css" rel="stylesheet"/>
    <link href="~/Content/js/layui2.0/css/layui.css" rel="stylesheet" />
    @RenderSection("css",required:false)
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body>
    @RenderBody()
    <script src="~/Content/js/jquery-2.1.4-min.js"></script>
    <script src="~/Content/js/global.js?v=1"></script>
    <script src="~/Content/js/common.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/bootstrap-table.min.js"></script>
    <script src="~/Content/js/bootstrap-table-zh-CN.min.js"></script>   
    <script src="~/Content/js/vue/vue.min.js"></script>
    @*<script src="~/Content/js/layui/lay/dest/layui.all.js"></script>*@
    <script src="~/Content/js/layui2.0/layui.all.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
