@{
    Layout = null;
}
@model Mock.luo.Models.EmailViewModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div id="mailContentContainer" class="qmbox qm_con_body_content qqmail_webmail_only">
        <style type="text/css">
            .qmbox .qmbox { margin: 0; padding: 0; font-family: 微软雅黑; background-color: #fff; }
                .qmbox .qmbox a { text-decoration: none; }
                .qmbox .qmbox .box { position: relative; max-width: 100%; padding: 0; margin: 0 auto; border: 1px solid #ccc; font-size: 13px; color: #333; }
                .qmbox .qmbox .header { width: 100%; padding-top: 50px; }
                .qmbox .qmbox .logo { float: right; padding-right: 50px; }
                .qmbox .qmbox .clear { clear: both; }
                .qmbox .qmbox .content { max-width: 100%; padding: 0 20px; }
                    .qmbox .qmbox .content p { line-height: 40px; word-break: break-all; }
                    .qmbox .qmbox .content ul { padding-left: 40px; }
                .qmbox .qmbox .table { border: 1px solid #ccc; border-left: 0; border-top: 0; border-collapse: collapse; }
                    .qmbox .qmbox .table td { border: 1px solid #ccc; border-right: 0; border-bottom: 0; padding: 6px; min-width: 160px; }
                .qmbox .qmbox .gray { background: #f5f5f5; }
                .qmbox .qmbox .no_indent { font-weight: bold; line-height: 40px; }
        </style>
        <div class="qmbox">
            <div class="box">
                <div class="header"></div><div class="content">
                    <p class="no_indent">尊敬的 @Model.ToUserName 您好</p>
                    <p style="line-height:25px;padding:10px;background:#5C96BE;border-radius:4px;color:#fff;">
                        感谢您使用、天上有木月的博客。
                        请点击以下链接进行邮箱验证，以便开始做进一步的操作。哈哈！！其实，你啥也做不了、
                    </p>
                    <a href="@Model.Link" target="_blank" style="display: inline-block;color:#fff;line-height: 40px;background-color: #1989fa;border-radius: 5px;text-align: center;text-decoration: none;font-size: 14px;padding: 1px 30px;">马上验证邮箱</a><span style="margin:0;padding:0;margin-left:10px;line-height:30px;font-size:14px;color:#979797;font-family:'宋体',arial,sans-serif">(为了保障您帐号的安全性，请在1小时内完成验证。)</span>
                        
                <p>如果您无法点击以上链接，请复制以下网址到浏览器里直接打开：</p>
                <a href="@Model.Link" target="_blank">@Model.Link</a>
                <p>如果您并未申请绑定账户，可能是其他用户误输入了您的邮箱地址。请忽略此邮箱，或者<a href="http://igeekfan.cn/" target="_blank">联系我们</a>。</p>
                    <table cellspacing="0" class="table"></table>
                </div>
            </div>
        </div>
        <style type="text/css">
            .qmbox style, .qmbox script, .qmbox head, .qmbox link, .qmbox meta { display: none !important; }
        </style>
    </div>
</body>
</html>  