@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="分享知识，分享快乐，分享生活。" />
    <meta name="keywords" content="如莫博客,个人博客,独立博客,博客,程序员,奋斗的扫雪工" />
    <link href="~/Content/css/font-awesome4.7.min12.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min14ed.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top clearfix">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand"><a href="/Home/BlogView" style="text-decoration:none;">Mock Blog</a></span>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#"><span class="glyphicon glyphicon-home"></span> 首页 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-book"></span> 博文</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-header"></span> 随笔</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-stats"></span> 关于我</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-compressed"></span> 留言</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container" style="margin-top:80px;">
        <div class="col-xs-12 col-md-9 left-body">
            <!--轮播图片-->
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="~/Content/Images/banner_top.jpg">
                        <div class="carousel-caption">
                            <div class="headerPic"><a href="/"><span>Mock个人博客</span></a></div>
                            <div class="websiteDescription">
                                <p>渡人如渡己，渡已，亦是渡</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Content/Images/banner_top.jpg">
                        <div class="carousel-caption">
                            <div class="websiteDescription">
                                、天上有木月
                                <p>-“你如今的气质里，藏着你走过的路，读过的书，和爱过的人。”</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 right-sidebar visible-lg-block">
            <div class="author-info-widget">
                <div class="author-info-widget-img">
                    <img src="~/Content/Images/mo.jpg" class="img-responsive img-circle center-block" alt="侧栏个人头像" width="120px">
                </div>
                <div class="author-info-widget-intro text-center">
                    <h4>如莫</h4>
                    <a href="http://weibo.com/1820059022/profile?topnav=1&wvr=6" class="i_weibo" target="_blank" rel="external nofollow"><i class="fa fa-weibo  fa-lg"></i></a>
                    <a href="https://github.com/luoyunchong" class="i_github" target="_blank" rel="external nofollow"><i class="fa fa-github fa-lg"></i></a>
                    <a href="#" class="i_facebook" target="_blank" rel="external nofollow"><i class="fa fa-facebook-square fa-lg"></i></a>
                </div>
                <div class="author-info-widget-words">
                    <div class="author-info-widget-words-left"></div>
                    <div class="author-info-widget-words-main">
                        <span>当你发现自己的才华撑不起野心时，就请安静下来学习吧。</span>
                    </div>
                    <div class="author-info-widget-words-right"></div>
                </div>
                <div class="author-info-widget-marker"></div>
            </div>

            <div id="other-widgets" class="other-widgets affix-top">
    
            </div>

        </div>

    </div>





    <footer class="footer">
        @*<div class="container">
            <div class="col-xs-12 col-sm-12 col-lg-12">
                <div class="col-xs-12 col-sm-6 footer-info-block">
                    <div class="col-xs-12 col-sm-12 footer_links_label">
                        <p><i class="fa fa-link"></i> 友情链接</p>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <ul class="footer_links">
                            <li><a href="/" target="_blank"></a></li>
                            <li><a href="/" target="_blank"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 footer-info-block">
                    <div class="col-xs-12 col-sm-12 footer_links_label">
                        <p><i class="fa fa-desktop"></i> 关于本站</p>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <p>
                            本站是如莫的个人博客，专注个人学习，成长，留言，记录。欢迎沟通交流！
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 footer-info-block">
                    <div class="col-xs-12 col-sm-12 footer_links_label">
                        <p><i class="fa fa-weixin"></i> 微信公众号</p>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <p><img src="https://www.gzpblog.com/wp-content/themes/SaltedFish/public/images/wechatPic.png" alt="微信公众号二维码" style="width:150px;"></p>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="container-fluid footer-bottom-container">
            <div class="col-xs-12 col-sm-12 col-lg-12 footer-bottom text-center">
                <span>
                    Copyright © 2017 <a id="footer_name" href="https://www.gzpblog.com" target="_blank">如莫博客</a>
                    All Rights Reserved. <a href="https://www.gzpblog.com/20170601/986.html" target="_blank" rel="nofollow">SaltedFish</a> theme powered by <a href="https://www.gzpblog.com" target="_blank" rel="nofollow">guo</a>.
                    &nbsp;|&nbsp;
                    <a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">粤ICP备16013442号</a>
                    &nbsp;|&nbsp;
                    <a href="/sitemap.xml" target="_blank">网站地图</a>
                    &nbsp;|&nbsp;
                    本站运行于 <img src="https://www.gzpblog.com/wp-content/themes/SaltedFish/public/images/aliyun.png" style="height:30px;">
                    &nbsp;|&nbsp;
                </span>
            </div>
        </div>
    </footer>



    <script src="~/Content/js/jquery-2.1.4-min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/vue/vue.min.js"></script>
    <script>
        $("#other-widgets").affix({
            offset: {
                top: 270, bottom: function () {
                    return (this.bottom =
                        $('.widget-comments').outerHeight(true))
                }
            }
        });
    </script>
</body>
</html>