@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="分享知识，分享快乐，分享生活。" />
    <meta name="keywords" content="如莫博客,个人博客,独立博客,博客,程序员,奋斗的扫雪工" />

    <link href="~/Content/css/font-awesome.min93e3.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min14ed.css" rel="stylesheet" />
    <link href="~/Content/css/blogbase.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top clearfix">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand"><a href="/Home/BlogView" style="text-decoration:none;">Mock Blog</a></span>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#"><span class="glyphicon glyphicon-home"></span> 首页 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-book"></span> 博文</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-header"></span> 随笔</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-stats"></span> 关于我</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-compressed"></span> 留言</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        <div class="col-xs-12 col-md-9 left-body">
            <!--轮播图片-->
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="~/Content/Images/banner_top.jpg">
                        <div class="carousel-caption">
                            <div class="headerPic"><a href="/"><span>Mock个人博客</span></a></div>
                            <div class="websiteDescription">
                                <p>渡人如渡己，渡已，亦是渡</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Content/Images/banner_top.jpg">
                        <div class="carousel-caption">
                            <div class="websiteDescription">
                                、天上有木月
                                <p>-“你如今的气质里，藏着你走过的路，读过的书，和爱过的人。”</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Content/Images/banner_top.jpg" alt="...">
                        <div class="carousel-caption">
                            <div class="websiteDescription">
                                <p>人生若只如初见</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            @*<div class="col-xs-12 col-sm-12 index-article">
                    <div class="index-article-box">
                        <div id="post-1186" class="col-xs-12 col-sm-12 col-lg-12 sf_post_list sf_post_normal">
                            <div class="col-xs-12 col-sm-12 col-lg-12 post_body">
                                <div class="col-xs-12 col-sm-12 col-lg-12 post-content">
                                    <div class="col-xs-12 col-sm-12 col-lg-12 post_title">
                                        <h2>
                                            <a href="https://www.gzpblog.com/20170801/1186.html" title="火狐浏览器X-Content-Type-Options导致Images类型无法加载">火狐浏览器X-Content-Type-Options导致Images类型无法加载</a>
                                        </h2>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-lg-12 post_meta">
                                        <ul class="post_meta_ul">
                                            <li class="inline-li">
                                                <i class="fa fa-calendar-check-o"></i>
                                                2017-08-01 10:23
                                            </li>
                                            <li class="inline-li">
                                                <i class="fa fa-tags"></i>
                                                <a href="https://www.gzpblog.com/category/code/front-about" rel="category tag">前端综合</a>
                                            </li>
                                            <li class="inline-li">
                                                <i class="fa fa-eye"></i>
                                                14         阅读
                                            </li>
                                            <li class="inline-li">
                                                <i class="fa fa-comments-o"></i>
                                                <a href="https://www.gzpblog.com/20170801/1186.html#respond">暂无回复</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-lg-12 post-content-main">
                                        <p>
                                            1. 发现问题
                                            最近用火狐上博客时，发现一个问题，加载博客页面总是出现菊花一直在转，左下角一直在等待sp0.baidu.com：

                                            导致后面的js无法加载。看了一下 network 发现是获取一个 s.gif 的时候出现问题：

                                            具体的url：

                                            而这个问题只在火狐上出现，其它浏览器正常，比如chrome浏览器正常加载：

                                            同时在火狐上报了一个错...
                                        </p>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-lg-12 post-bottom">
                                        <div class="col-xs-9 col-sm-9 post-tags">
                                            <a href="https://www.gzpblog.com/tag/%e5%89%8d%e7%ab%af" rel="tag">前端</a>
                                        </div>
                                        <a class="view-all" href="https://www.gzpblog.com/20170801/1186.html">阅读全文 »</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>*@
        </div>
        <div class="col-xs-12 col-md-3 right-sidebar visible-lg-block">
            <div class="author-info-widget">
                <div class="author-info-widget-img">
                    <img src="~/Content/Images/mo.jpg" class="img-responsive img-circle center-block" alt="侧栏个人头像" width="120px">
                </div>
                <div class="author-info-widget-intro text-center">
                    <h4>如莫</h4>
                    <a href="http://weibo.com/1820059022/profile?topnav=1&wvr=6" class="i_weibo" target="_blank" rel="external nofollow"><i class="fa fa-weibo  fa-lg"></i></a>
                    <a href="https://github.com/luoyunchong" class="i_github" target="_blank" rel="external nofollow"><i class="fa fa-github fa-lg"></i></a>
                    <a href="#" class="i_facebook" target="_blank" rel="external nofollow"><i class="fa fa-facebook-square fa-lg"></i></a>
                </div>
                <div class="author-info-widget-words">
                    <div class="author-info-widget-words-left"></div>
                    <div class="author-info-widget-words-main">
                        <span>当你发现自己的才华撑不起野心时，就请安静下来学习吧。</span>
                    </div>
                    <div class="author-info-widget-words-right"></div>
                </div>
                <div class="author-info-widget-marker"></div>
            </div>

            <div id="other-widgets" class="other-widgets affix-top">
                <div class="widget widget-tagsMenu clearfix visible-lg-block">
                    <h4><span><i class="fa fa-tags"></i>&nbsp;分类</span></h4>
                    <ul id="menu-%e4%be%a7%e6%a0%8f%e6%a0%87%e7%ad%be%e5%8c%96%e8%8f%9c%e5%8d%95" class="menu">
                        <li id="menu-item-944" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-944"><a href="https://www.gzpblog.com/category/essay/essay-me">个人随笔</a></li>
                        <li id="menu-item-945" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-945"><a href="https://www.gzpblog.com/category/essay/essay-extra">发发牢骚</a></li>
                        <li id="menu-item-946" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-946"><a href="https://www.gzpblog.com/category/essay/essay-life">生活杂谈</a></li>
                        <li id="menu-item-947" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-947">
                            <a href="https://www.gzpblog.com/category/code/code-about/php">PHP</a>
                        </li>
                        <li id="menu-item-1172" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1172"><a href="https://www.gzpblog.com/category/code/library-expand/swoole">Swoole</a></li>
                        <li id="menu-item-961" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-961"><a href="https://www.gzpblog.com/category/code/framework/thinkphp">ThinkPHP</a></li>
                        <li id="menu-item-1170" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1170"><a href="https://www.gzpblog.com/category/code/framework/workerman">Workerman</a></li>
                        <li id="menu-item-960" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-960"><a href="https://www.gzpblog.com/category/code/framework/phalcon">Phalcon</a></li>
                        <li id="menu-item-965" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-965"><a href="https://www.gzpblog.com/category/code/code-software/wordpress">WordPress</a></li>
                        <li id="menu-item-963" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-963"><a href="https://www.gzpblog.com/category/code/code-software/ecshop">ECshop</a></li>
                        <li id="menu-item-959" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-959"><a href="https://www.gzpblog.com/category/code/framework/phalapi">PhalApi</a></li>
                        <li id="menu-item-964" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-964"><a href="https://www.gzpblog.com/category/code/code-software/typecho">Typecho</a></li>

                    </ul>
                </div>
                <div class="widget widget-news visible-lg-block">
                    <h4><span><i class="fa fa-leaf"></i>&nbsp;最新文章</span></h4>
                    <ul class="list fa-ul">
                        <li class="widget-new">
                            <i class="fa-li fa fa-angle-double-right"></i>
                            <p>
                                <a href="https://www.gzpblog.com/20170801/1186.html" title="火狐浏览器X-Content-Type-Options导致Images类型无法加载">火狐浏览器X-Content-Type-Options导致Images类型无法加载</a>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>





    <footer class="footer">

        <div class="container">
            <div class="col-xs-12 col-sm-12 col-lg-12">
                <div class="col-xs-12 col-sm-6 footer-info-block">
                    <div class="col-xs-12 col-sm-12 footer_links_label">
                        <p><i class="fa fa-link"></i> 友情链接</p>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <ul class="footer_links">
                            <li><a href="/" target="_blank"></a></li>
                            <li><a href="/" target="_blank"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 footer-info-block">
                    <div class="col-xs-12 col-sm-12 footer_links_label">
                        <p><i class="fa fa-desktop"></i> 关于本站</p>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <p>
                            本站是如莫的个人博客，专注个人学习，成长，留言，记录。欢迎沟通交流！
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 footer-info-block">
                    <div class="col-xs-12 col-sm-12 footer_links_label">
                        <p><i class="fa fa-weixin"></i> 微信公众号</p>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <p><img src="https://www.gzpblog.com/wp-content/themes/SaltedFish/public/images/wechatPic.png" alt="微信公众号二维码" style="width:150px;"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid footer-bottom-container">
            <div class="col-xs-12 col-sm-12 col-lg-12 footer-bottom text-center">
                <span>
                    Copyright © 2017 <a id="footer_name" href="https://www.gzpblog.com" target="_blank">如莫博客</a>
                    All Rights Reserved. <a href="https://www.gzpblog.com/20170601/986.html" target="_blank" rel="nofollow">SaltedFish</a> theme powered by <a href="https://www.gzpblog.com" target="_blank" rel="nofollow">guo</a>.
                    &nbsp;|&nbsp;
                    <a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">粤ICP备16013442号</a>
                    &nbsp;|&nbsp;
                    <a href="/sitemap.xml" target="_blank">网站地图</a>
                    &nbsp;|&nbsp;
                    本站运行于 <img src="https://www.gzpblog.com/wp-content/themes/SaltedFish/public/images/aliyun.png" style="height:30px;">
                    &nbsp;|&nbsp;
                </span>
            </div>
        </div>
    </footer>



    <script src="~/Content/js/jquery-2.1.4.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/vue/vue.min.js"></script>
    <script>
        $("#other-widgets").affix({
            offset: {
                top: 270, bottom: function () {
                    return (this.bottom =
                        $('.widget-comments').outerHeight(true))
                }
            }
        });
    </script>
</body>
</html>