@{
    Layout = null;
}


<div id="btn" class="button">
    <span>首页</span>
</div>

<script src="~/Content/js/jquery-2.1.4.min.js"></script>
<script>
    $('#btn').click(function () {
        top.location.href ='/Home/BlogView'
    })
</script>
<style>
    .button {
        height: 30px;
        line-height: 30px;
        width: 88px;
        text-align: center;
        border-radius: 5px;
        background-color: #0F6099;
        color: white;
    }

        .button:hover {
            background-color: orange;
            cursor: pointer;
        }
</style>
