@{
    Layout = null;
}


<div class="button">
    <span>首页</span>
</div>

<style>
    .button {
        height: 30px;
        line-height: 30px;
        width: 88px;
        text-align: center;
        border-radius: 5px;
        background-color: #0F6099;
        color: white;
    }

        .button:hover {
            background-color: orange;
            cursor: pointer;
        }
</style>
