
@{
    Layout = "~/Views/Shared/_Index.cshtml";
    ViewBag.Title = "点赞查看";
}

<div class="layui-fluid" style="margin-top:20px;" id="v-app">
    <table id="dginfo"></table>
</div>

@section css{
}
@section scripts{
    <script>
        var Id = $.getQueryString('Id');
        var vm = new Vue({
            el: '#v-app',
            mounted: function () {
                this.init_datagrid();
            },
            methods: {
                init_datagrid: function () {
                    $('#dginfo').dataGrid({
                        url: '/Plat/PointArticle/GetDataGrid',
                        sortOrder: "desc",
                        search: false,
                        sortName: 'Id',
                        pagination:false,
                        queryParams: function (params) {
                            params.AId = Id;
                            return params;
                        },
                        columns: [
                            { field: 'Title', title: '点赞文章'},
                            { field: 'Email', title: '邮箱'},
                            { field: 'LoginName', title: '登录名'},
                            { field: 'NickName', title: '昵称'},
                            { field: 'AddTime', title: '点赞时间'},
                            { field: 'IP', title: 'IP'},
                            { field: 'System', title: '系统'},
                            { field: 'Browser', title: '浏览器'}
                        ]
                    });
                }
            }
        });
    </script>

}