@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div class="layui-layout">
    <!-- 左侧导航 -->
    <div class="layui-side layui-bg-black">
        <div class="navBar layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;"><i class="fa fa-folder-open"></i>全部文件</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;"><i class="fa fa-picture-o"></i>图片</a></dd>
                        <dd><a href="javascript:;"><i class="fa fa-dot-circle-o"></i>文档</a></dd>
                        <dd><a href="javascript:;"><i class="fa fa-music"></i>音乐</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="fa fa-share-alt"></i>我的分享</a>
                </li>
                <li class="layui-nav-item"><a href=""><i class="fa fa-trash-o"></i>回收站</a></li>
            </ul>
        </div>
    </div>

    <!-- 右侧内容 -->
    <div class="layui-body layui-form">
            <table class="layui-table" lay-skin="line" id="el-table"></table>
    </div>
</div>
<!-- 移动导航 -->
<div class="site-tree-mobile layui-hide"><i class="layui-icon"></i></div>
<div class="site-mobile-shade"></div>

@section scripts{
    <script>

        //手机设备的简单适配
        var treeMobile = $('.site-tree-mobile'),
            shadeMobile = $('.site-mobile-shade')

        treeMobile.on('click', function () {
            $('body').addClass('site-mobile');
        });
        shadeMobile.on('click', function () {
            $('body').removeClass('site-mobile');
        });
        // 添加新窗口
        $("body").on("click", ".layui-nav .layui-nav-item a", function () {
            //如果不存在子级
            if ($(this).siblings().length == 0) {
                $('body').removeClass('site-mobile');  //移动端点击菜单关闭菜单层
            }
        })

        //第一个实例
        layui.table.render({
            elem: '#el-table'
            , height: 'full-20'
            , data: [{ Id: 1, FileName: 'eclipse-java-kepler-sr1-win32.zip', FileSize: '123MB', ModifyTime: '2018-2-2 12:12' },
                { Id: 2, FileName: 'ADT-23.0.6.zip', FileSize: '123MB', ModifyTime: '2018-2-2 12:12' },
                { Id: 3, FileName: '[疯狂Android讲义].李刚.源码.zip', FileSize: '123MB', ModifyTime: '2018-2-2 12:12' },
                { Id: 4, FileName: 'Linux、Mac系统不方便运行.exe文件，看此.txt', FileSize: '13MB', ModifyTime: '2018-2-2 12:12' }]
            //, url: '/' //数据接口
            , page: false //开启分页
            , cols: [[ //表头
                { checkbox:true }
                , {
                    field: 'FileName', title: '文件名', width: 600, sort: true,
                    templet: '<div><i class="fa fa-folder fa-2x" aria-hidden="true" style="margin-right:6px;"></i>{{ d.FileName}}</div>'
                }
                , { field: 'FileSize', title: '大小', width: 200, sort: true }
                , { field: 'ModifyTime', title: '修改日期', width: 200, sort: true  }
            ]],
            skin:'line'
        });
    </script>



}


@section css{
    <link href="~/Content/css/ui.css" rel="stylesheet" />
    <style>
        .layui-table-cell { height: 33px; line-height: 33px; }
    </style>
}
