
@{
    ViewBag.Title = "Button";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="layui-container" style="margin-top:15px;">
    <form class="layui-form layui-box layui-form-pane" action="" id="v-app">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">上级节点</label>
                <div class="layui-input-inline">
                    <div id="PId" type="selectTree" class="ui-select"></div>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">编码</label>
                <div class="layui-input-inline">
                    <input type="text" v-model="EnCode" placeholder="请输入编码" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span style="color:red">*</span> 名称</label>
                <div class="layui-input-inline">
                    <input type="text" v-model="Name" placeholder="请输入名称" class="layui-input" isvalid="yes" checkexpession="NotNull">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">排序码</label>
                <div class="layui-input-inline">
                    <input type="number" v-model="SortCode" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">地址</label>
                <div class="layui-input-inline">
                    <input type="text" v-model="LinkUrl" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span style="color:red">*</span> 类型</label>
                <div class="layui-input-inline">
                    <select id="TypeCode" name="TypeCode" v-model="TypeCode" lay-filter="TypeCode" isvalid="yes" checkexpession="NotNull">
                        <option value="-1" disabled>==请选择==</option>
                        <option value="Button">按钮</option>
                        <option value="Permission">其他权限+隐藏</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>
@section css{
    <link href="~/Content/js/wdTree/tree.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Content/js/wdTree/jquery.tree.js"></script>
    <script src="~/Content/js/plugins/validator.js"></script>
    <script>

        var layui_iframe_name = com.get_layui_iframe_name();
        var buttonJson = top[layui_iframe_name].vm.buttonJson;
        var json = {
            Id: $.getQueryString('Id'),
            PId: -1,
            EnCode: '',
            TypeCode: '',
            IsEnableMark: true,
            SortCode: 999,
            Name: '',
            LinkUrl: '',
            IsNew: true
        };
        $.each(buttonJson, function (i, v) {
            if (v.Id == json.Id) {
                json = v;
                return false;
            }
        });
        json.ParentId = $.getQueryString('PId');

        var vm = new Vue({
            el: '#v-app',
            data: json,
            mounted: function () {
                $("#PId").comboBoxTree({
                    url: "/Plat/AppModule/ListToTreeJson",
                    param: { moduleButtonJson: JSON.stringify(buttonJson), Id: json.ParentId },
                    description: "==请选择==",
                    height: "120px",
                    allowSearch: true,
                    click: function (node) {
                        vm.PId = node.id;
                    }
                });
                layui.form.on('select(TypeCode)', function (data) {
                    vm.TypeCode = data.value;
                });
                layui.form.render();
                window.setTimeout(function () {
                    $("#PId").comboBoxTreeSetValue(json.PId);
                }, 500);
            },
            methods: {
                submit: function (callback) {
                    if (!$('#v-app').Validform()) {
                        return false;
                    }
                    //没有选择上级菜单或按钮，默认就属于当前菜单
                    if (vm.PId == -1) {
                        vm.PId =  json.ParentId;
                    }
                    callback(vm.$data);
                }
            },
        });
    </script>

}
