
@{
    ViewBag.Title = "Button";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="layui-container" style="margin-top:15px;">
    <form class="layui-form layui-box layui-form-pane" action="" id="v-app">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">上级节点</label>
                <div class="layui-input-inline">
                    <div id="PId" type="selectTree" class="ui-select"></div>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">编码</label>
                <div class="layui-input-inline">
                    <input type="text" v-model="EnCode" placeholder="请输入编码" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span style="color:red">*</span> 名称</label>
                <div class="layui-input-inline">
                    <input type="text" v-model="Name" placeholder="请输入名称" class="layui-input" isvalid="yes" checkexpession="NotNull">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">图标</label>
                <div class="layui-input-inline">
                    <input type="text" v-model="Icon" class="layui-input" placeholder="双击我选择图标" v-on:dblclick="com.select_icon('Icon','ButtonForm')" style="cursor:pointer;">
                    <span class="input-button" v-on:click="com.select_icon('Icon','ButtonForm')" title="选取图标">...</span>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">地址</label>
                <div class="layui-input-inline">
                    <input type="text" v-model="LinkUrl" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span style="color:red">*</span> 类型</label>
                <div class="layui-input-inline">
                    <select id="TypeCode" name="TypeCode" v-model="TypeCode" lay-filter="TypeCode" isvalid="yes" checkexpession="NotNull">
                        <option value="-1" disabled>==请选择==</option>
                        <option value="Button">按钮</option>
                        <option value="Permission">其他权限+隐藏</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">排序码</label>
                <div class="layui-input-inline">
                    <input type="number" v-model="SortCode" class="layui-input">
                </div>
            </div>
        </div>
    </form>
</div>
@section css{
    <link href="~/Content/js/wdTree/tree.css" rel="stylesheet" />
    <style>
        .layui-form .input-button { font-weight: bold; border: none; right: 8px; top: 50%; width: 12px; height: 16px; margin-top: -12px; cursor: pointer; overflow: hidden; position: absolute; z-index: 100; }
    </style>
}
@section scripts{
    <script src="~/Content/js/wdTree/jquery.tree.js"></script>
    <script>

        var layui_iframe_name = com.get_layui_iframe_name();
        var buttonJson = top[layui_iframe_name].vm.buttonJson;
        var json = {
            Id: $.getQueryString('Id'),
            PId: -1,
            Icon:'',
            EnCode: '',
            TypeCode: '',
            IsEnableMark: true,
            SortCode: 999,
            Name: '',
            LinkUrl: '',
            IsNew: true
        };
        $.each(buttonJson, function (i, v) {
            if (v.Id == json.Id) {
                v.PId == '' && (v.PId = -1);
                json = v;
                return false;
            }
        });
        json.ParentId = $.getQueryString('PId');
        var moduleButtonJson = [];
        $.each(buttonJson, function (i, v) {
            moduleButtonJson.push({
                Id: v.Id,
                Name: v.Name,
                PId: v.PId
            });
        });

        var vm = new Vue({
            el: '#v-app',
            data: json,
            mounted: function () {
                $("#PId").comboBoxTree({
                    url: "/Plat/AppModule/ListToTreeJson",
                    param: { moduleButtonJson: JSON.stringify(moduleButtonJson), Id: json.ParentId },
                    description: "==请选择==",
                    height: "120px",
                    allowSearch: true,
                    click: function (node) {
                        if (node.id == vm.Id) {
                            $.layerMsg('你不能选择自身作为您的父节点！', '', function () {
                                $("#PId").comboBoxTreeSetValue("-1");
                            });
                        } else {
                            vm.PId = node.id;
                        }
                    }
                });
                layui.form.on('select(TypeCode)', function (data) {
                    vm.TypeCode = data.value;
                });
                layui.form.render();
                window.setTimeout(function () {
                    $("#PId").comboBoxTreeSetValue(json.PId);
                }, 500);
            },
            methods: {
                submit: function (callback) {
                    if (!$('#v-app').Validform()) {
                        return false;
                    }
                    //没有选择上级菜单或按钮，默认就属于当前菜单
                    if (vm.PId == -1) {
                        vm.PId = json.ParentId;
                    }
                    callback(vm.$data);
                }
            },
        });
    </script>

}
