<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Mock.Luo-20170524201954;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Mock.Luo-20170524201954.mdf" />
  <add name="MockDbContext" connectionString="metadata=res://*/Models.MockDbContext.csdl|res://*/Models.MockDbContext.ssdl|res://*/Models.MockDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Mock;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <!--<add name="MockDbContext" connectionString="Server=.;Initial Catalog=Mock;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />-->
</connectionStrings>