@{
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
    ViewBag.Title = "基础设置、天上有木月-博客";
}

<div class="layui-container user-main" id="v-app">
    <ul class="layui-nav layui-nav-tree" lay-filter="test">
        <li class="layui-nav-item"><a href="/App/Index" target="_blank"><i class="layui-icon">&#xe68e;</i>瞧瞧主页</a></li>
        <li class="layui-nav-item layui-this"><a href="/Account/Set"><i class="layui-icon">&#xe620;</i>基础设置</a></li>
        <li class="layui-nav-item"><a href="/Account/Comment"><i class="layui-icon">&#xe611;</i>我的评论</a></li>
        <li class="layui-nav-item"><a href="/Account/GuestBook"><i class="layui-icon">&#xe63c;</i>我的留言</a></li>
        <li class="layui-nav-item"><a href="/Account/Collect"><i class="layui-icon">&#xe622;</i>收藏</a></li>
    </ul>
    <!-- 移动导航 -->
    <div class="site-tree-mobile layui-hide"><i class="layui-icon"></i></div>
    <div class="site-mobile-shade"></div>
    <div class="panel-user">
        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
                <li class="layui-this">我的资料</li>
                <li>头像</li>
                <li>帐号和密码</li>
                <li>帐号绑定</li>
            </ul>
            <div class="layui-tab-content" style="padding: 20px 0;">
                <div class="layui-tab-item layui-show">
                    <form class="layui-form layui-form-pane">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">昵称</label>
                                <div class="layui-input-inline">
                                    <input type="text" v-model="user.NickName" required lay-verify="required" placeholder="这里应该写昵称" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">QQ</label>
                                <div class="layui-input-inline">
                                    <input type="text" v-model="user.QQ" required lay-verify="required" placeholder="这里应该写QQ号" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">手机号</label>
                            <div class="layui-input-inline">
                                <input type="text" v-model="user.Phone" required lay-verify="required" placeholder="手机号在这填" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">性别</label>
                                <div class="layui-input-block">
                                    <input type="radio" name="Gender" lay-filter="Gender" value="保密" title="保密" :checked="user.Gender=='保密'">
                                    <input type="radio" name="Gender" lay-filter="Gender" value="男" title="男" :checked="user.Gender=='男'">
                                    <input type="radio" name="Gender" lay-filter="Gender" value="女" title="女" :checked="user.Gender=='女'">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">个人网站</label>
                            <div class="layui-input-block">
                                <input type="text" v-model="user.PersonalWebsite" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <div class="layui-form-label">
                                个性签名
                            </div>
                            <div class="layui-input-block">
                                <textarea placeholder="说点什么吧" class="layui-textarea" v-model="user.PersonSignature "></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <button type="button" class="btn-submit" v-on:click="save_user_info">确认修改</button>
                        </div>
                    </form>
                </div>
                <div class="layui-tab-item">
                    <div class="user-avatar">
                        <button class="btn btn-primary" id="upload-img"><i class="fa fa-cloud-upload"></i>上传头像</button>
                        <p>建议尺寸168*168，支持jpg、png、gif，最大不能超过50KB</p>
                        <img :src="user.Avatar"/>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <form class="layui-form layui-form-pane">
                        <div class="layui-form-item">
                            <label class="layui-form-label">用户名</label>
                            <div class="layui-input-inline">
                                <input type="text" v-model="user.LoginName" required lay-verify="required" placeholder="只可设置一次" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">
                                <a href="javascript:void(0)" v-on:click="set_loginName" v-show="LoginNameIsShow" style="font-size: 12px; color: #4f99cf;">设置</a>
                                用于登录帐号，长度（4-20个字符）及内容（只能是汉字、字母、下划线、数字）
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">邮箱</label>
                            <div class="layui-input-inline">
                                <input type="email" v-model="user.Email" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                            <div>
                                <div class="layui-form-mid layui-word-aux" v-if="user.EmailIsValid">
                                    <a href="javascript:void(0)" v-on:click="set_email_address" style="font-size: 12px; color: #4f99cf;" title="修改邮箱需要验证邮箱验证码">修改邮箱</a>
                                    <span class="layui-icon" title="已绑定成功">&#xe6c6;</span> 已绑定成功（可用于登录）
                                </div>
                                <div class="layui-form-mid layui-word-aux" v-else="user.Email">
                                    <a href="javascript:void(0)" v-on:click="set_email_address" style="font-size: 12px; color: #4f99cf;" title="绑定邮箱">绑定邮箱</a>
                                  （先填写好邮箱，再点击绑定邮箱）
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">帐号密码</label>
                            <div class="layui-input-inline" style="height:38px">
                                <a href="javascript:void(0)" v-on:click="set_use_pwd" class="pwd-text" :title="user.PwdIsSet?'修改密码':'设置密码'" v-text="user.PwdIsSet?'修改密码':'设置密码'"></a>
                            </div>
                            <div>
                               
                            </div>
                        </div>
                    </form>
                </div>
                <div class="layui-tab-item app-bind">
                    <blockquote class="layui-elem-quote layui-quote-nm">
                        <i class="fa fa-qq icon-qq"></i>
                        <template v-if="user.isBindQQ">
                            <span v-text="user.NickName"></span>
                            <a href="#" v-on:click="unbind_qq">（解绑）</a>
                        </template>
                        <template v-else>
                            @*/Account/bindQQ*@
                            <a href="#" onclick="layer.msg('待完成', {icon:16, shade: 0.1, time:2000})">立即绑定</a>
                            <span>，即可使用QQ帐号登录本博客</span>
                        </template>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <div v-show="validate_email_show" class="layui-form-pane" id="validate-email">
        <form class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">邮箱</label>
                <div class="layui-input-inline">
                    <input type="text" name="Email" v-model="user.Email" class="layui-input" disabled="disabled" readonly="readonly">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">验证码</label>
                <div class="layui-input-inline">
                    <input type="text" name="Code" class="layui-input" v-model="Code">
                    <a class="btn btn-primary" v-on:click="get_active_code">{{TimeKeeping}}</a>
                </div>
            </div>
        </form>
    </div>
    <div v-show="validate_pwd_show" class="layui-form-pane" id="validate-pwd">
        <form class="layui-form">
            <div class="layui-form-item" v-show="user.PwdIsSet">
                <label class="layui-form-label">旧密码<strong>*</strong></label>
                <div class="layui-input-inline">
                    <input type="password" name="LoginPassword" v-model="LoginPassword" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">新密码<strong>*</strong></label>
                <div class="layui-input-inline">
                    <input type="password" name="newPwd" v-model="newPwd" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">重复密码<strong>*</strong></label>
                <div class="layui-input-inline">
                    <input type="password" name="newPwd2" v-model="newPwd2" class="layui-input">
                </div>
            </div>
        </form>
    </div>
</div>


@section scripts{
    <script src="~/Content/js/plugins/jquery.md5.js"></script>
    <script>
        var userJson = JSON.parse('@Html.Raw(ViewBag.viewModel)');
        var vm = new Vue({
            el: '#v-app',
            data: {
                validate_email_show: false,
                validate_pwd_show:false,
                user: userJson,
                LoginNameIsShow: (userJson.LoginName == "" || userJson.LoginName == null) ? true : false,
                wait: 60,
                TimeKeeping: '获取验证码',
                Code: '',
                EmailToken: '',
                LoginPassword: '',
                newPwd:'',
                newPwd2:''
            },
            mounted: function () {
                this.init_layui_form();
                $('.scroll-c').css('display', 'none');
            },
            methods: {
                init_layui_form: function () {
                    layui.form.on('radio(Gender)', function (data) {
                        vm.user.Gender = data.value;
                    });
                    this.upload_img();
                    layui.form.render();
                },
                set_timekeeping: function () {
                    if (this.wait == 0) {
                        vm.TimeKeeping = "重发验证码";
                        this.wait = 60;
                    } else {
                        vm.TimeKeeping = this.wait + "秒后重发";
                        this.wait--;
                        setTimeout(function () {
                            vm.set_timekeeping()
                        }, 1000)
                    }
                },
                get_active_code: function (callback) {
                    if (this.wait < 60) {
                        return;
                    }
                    com.ajax({
                        url: '/Account/GetActiveCode',
                        data: {
                            Email: vm.user.Email
                        },
                        success: function (d) {
                            $.layerMsg(d.Message, d.State);

                            $.procAjaxMsg(d, function () {
                                vm.EmailToken = d.data;
                                vm.set_timekeeping();
                                if ($.isFunction(callback)) {
                                    callback(d);
                                }
                            }, function () {
                            });
                        }
                    });
                },
                set_loginName: function () {
                    if (this.user.LoginName == "") {
                        $.layerMsg('不可为空');
                        return;
                    }
                    $.post('/Account/SetLoginName', { LoginName: this.user.LoginName }, function (d) {
                        $.layerMsg(d.Message, d.State);
                        $.procAjaxMsg(d, function () {
                            vm.LoginNameIsShow = false;
                        }, function () {

                        });
                    }, 'json');
                },
                set_email_address: function () {
                    if (vm.user.Email == "") {
                        $.layerMsg('邮箱不能为空！');
                        return;
                    }
                    if (!com.isEmail(vm.user.Email)) {
                        $.layerMsg('邮箱格式不正确！');
                        return;
                    }
                    this.validate_email_show = true;
                    $.layerOpen({
                        title: '修改邮箱',
                        btn: '确定',
                        type: 1,
                        width: 300,
                        content: $('#validate-email'),
                        yes: function (index, layero) {
                            console.log(layero);
                            com.ajax({
                                url: '/Account/SetEmail',
                                data: {
                                    Email: vm.user.Email,
                                    Code: vm.Code,
                                    EmailToken: vm.EmailToken
                                },
                                showMsg: true,
                                success: function (d) {
                                    vm.Code = "";
                                    vm.user.EmailIsValid = true;
                                    layer.close(index);
                                    vm.validate_email_show = false;
                                }
                            });
                        },
                        shadeClose: false,
                        cancel: function (index, layero) {
                            vm.validate_email_show = false;
                            layer.close(index);
                        }
                    });
                },
                save_user_info: function () {
                    com.ajax({
                        data: this.user,
                        url: '/Account/SaveUserInfo',
                        showMsg: true,
                        success: function (d) {
                            //console.log(d)
                        }
                    });
                },
                upload_img: function () {
                    layui.upload.render({
                        elem: '#upload-img',
                        url: '/Mock/Upload/LayuiImage',
                        done: function (res) {
                            //console.log(res);
                            if (res.code == 0) {
                                vm.user.Avatar = res.data.src;
                                $.post('/Account/SaveAvatar', { Avatar: vm.user.Avatar }, function (d) {
                                    //console.log(d)
                                });
                            }
                        },
                        error: function () {
                            $.layerMsg('出错了！！')
                        }
                    })
                },
                set_use_pwd: function () {
                    this.validate_pwd_show = true;
                    $.layerOpen({
                        title: '修改密码',
                        btn: ['确定', '取消'],
                        type: 1,
                        width: 300,
                        content: $('#validate-pwd'),
                        yes: function (index, layero) {
                            console.log(layero);

                            if (vm.user.PwdIsSet==true&&vm.LoginPassword == "") {
                                $.layerMsg('旧密码不能为空！'); return;
                            }
                            if (vm.newPwd=="") {
                                $.layerMsg('新密码不能为空！'); return;
                            } if (vm.newPwd2 == "") {
                                $.layerMsg('重复密码不能为空！');  return;
                            }

                            if (vm.newPwd != vm.newPwd2) {
                                $.layerMsg('新密码与重复密码不一致！');
                                return;
                            }
                            com.ajax({
                                url: '/Account/ResetPwd',
                                data: {
                                    LoginPassword:$.md5(vm.LoginPassword),
                                    newPwd: vm.newPwd
                                },
                                showMsg: true,
                                success: function (d) {
                                    vm.validate_pwd_show = false;
                                    vm.user.PwdIsSet = true;
                                    layer.close(index);
                                }
                            });
                        },
                        btn2: function () {
                            vm.validate_pwd_show = false;
                        },
                        shadeClose: false,
                        cancel: function (index, layero) {
                            vm.validate_pwd_show = false;
                        }
                    });
                },
                unbind_qq: function () {
                    $.layerMsg('暂不支持解绑，会在稍后的版本中更新！！！');
                    return;
                    $.layerConfirm('提示', '你确定要解绑此QQ吗，解绑后，无法使用此QQ')

                }
            }
        })
    </script>

}
@section css{
    <style>
        #validate-email, #validate-pwd { margin-top: 15px; margin-left: 10px; }
            #validate-email input[name=Code] { width: 91px; float: left; }
            #validate-email .btn { height: 38px; line-height: 26px; }
            #validate-pwd strong { color:red;}
            .user-avatar { text-align: center; }
            .user-avatar button, .user-avatar p { margin: 20px; }
            .user-avatar img { border-radius: 100%; width: 168px; height: 168px; }
    </style>
}

@section beyond{


}