
@{
    ViewBag.Title = "菜单新增编辑管理";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="layui-container" style="margin-top:15px;">
    <form class="layui-form layui-box layui-form-pane" action="" id="v-app">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">菜单名称</label>
                <div class="layui-input-inline">
                    <input type="text" v-model="Name" required lay-verify="required" placeholder="请输入菜单名称" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">父菜单</label>
                <div class="layui-input-inline">
                    <div id="PId" type="selectTree" class="ui-select"></div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">链接地址</label>
                <div class="layui-input-inline">
                    <input type="text" v-model="LinkUrl" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">排序码</label>
                <div class="layui-input-inline">
                    <input type="number" v-model="SortCode" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">展开/折叠</label>
                <div class="layui-input-inline">
                    <input type="checkbox" lay-skin="switch" lay-text="展开|折叠" v-model="Expanded" name="Expanded">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">文件夹</label>
                <div class="layui-input-inline">
                    <input type="checkbox" lay-skin="switch" lay-text="是|否" v-model="Folder" name="Folder">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">图标</label>
                <div class="layui-input-inline">
                    <input type="text" v-model="Icon" class="layui-input" placeholder="双击我选择图标" v-on:dblclick="choose_img" style="cursor:pointer;">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">目标</label>
                <div class="layui-input-inline">
                    <select id="Target" name="Target" v-model="Target" lay-filter="Target">
                        <option value="-1" disabled>==请选择==</option>
                        <option value="expand">无页面</option>
                        <option value="iframe">框架页</option>
                        <option value="open">新窗口</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>


@section css{
    <link href="~/Content/js/wdTree/tree.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Content/js/wdTree/jquery.tree.js"></script>
    <script>

        var json = JSON.parse(`@Html.Raw(ViewBag.ViewModel)`);
       !json.PId && (json.PId = -1);
        var vm = new Vue({
            el: '#v-app',
            data: json,
            beforeCreate: function () {

            },
            mounted: function () {
                layui.form.on('switch', function (data) {
                    vm[$(data.elem).attr('name')] = data.elem.checked;
                });
                layui.form.on('select(Target)', function (data) {
                    vm.Target = data.value;
                });
                $("#PId").comboBoxTree({
                    url: "/Plat/AppMenu/GetComboBoxTreeJson",
                    description: "==请选择==",
                    height: "220px",
                    allowSearch: true,
                    click: function (node) {
                        console.log(node);
                        vm.PId =node.id;
                    }
                });

                layui.form.render();
                window.setTimeout(function () {
                    $("#PId").comboBoxTreeSetValue(json.PId);
                }, 500);
            },
            methods: {
                submit: function (callback) {
                    if (vm.PId == -1) {
                        vm.PId = 0;
                    }
                    com.ajax({
                        url: '/Plat/AppMenu/Edit/'+vm.Id,
                        data: vm.$data,
                        showMsg: true,
                        success: callback
                    })
                },
                choose_img: function () {

                }
            }
        });
    </script>

}
