<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Mock.Luo-20170524201954;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Mock.Luo-20170524201954.mdf" />
  <!--<add name="MockDbContext" connectionString="metadata=res://*/MockDbContext.csdl|res://*/MockDbContext.ssdl|res://*/MockDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Mock;user id=sa;password=123456;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <!--本地-->
  <!--<add name="MockDbConnection" connectionString="Server=.;Initial Catalog=Mock;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />-->
  
  <!--远程-->
  <add name="RedisConnectionString" connectionString="127.0.0.1:6379"/>

  <add name="MockDbConnection" connectionString="Server=115.159.214.248;Initial Catalog=Mock;User ID=sa;Password=" providerName="System.Data.SqlClient" />
  
</connectionStrings>