
@{
    ViewBag.Title = "AllotUser";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="container-fluid" id="v-app">
    <div class="row">
        <div class="treesearch">
            <input id="txt_TreeKeyword" type="text" class="form-control" style="border-top: none;" placeholder="请输入要查询关键字" />
            <span id="btn_TreeSearch" class="input-query" title="点我搜索"><i class="fa fa-search"></i></span>
        </div>
        <div class="center-Panel">
            <div class="gridPanel">
            </div>
        </div>
    </div>
</div>

@section css{
    <style>
        .ui-layout-west { margin: 0px; border-top: none; border-left: none; background: #fff; border: 1px solid #ccc; padding: 2px; border-bottom: none; position: absolute; left: 0px; right: auto; top: 0px; bottom: 0px; height: 100%; z-index: 0; overflow: auto; width: 160px; display: block; visibility: visible; width: 160px; }

        .ui-layout-center { position: absolute; margin: 0px; right: 0px; left: 160px; top: 0px; bottom: 0px; z-index: 0; padding: 0px; background: transparent; border: 0px solid rgb(187, 187, 187); overflow: auto; display: block; visibility: visible; }

        .center-Panel { margin: 0px; border-right: none; border-left: none; border-bottom: none; background-color: rgb(255, 255, 255); overflow: auto; padding-bottom: 10px; height: 92%; border: 1px solid #ccc; background: #fff; }

        .treesearch { position: relative; }

        .treesearch .form-control { box-shadow: none; border-color: #ccc; border-left: none; border-right: none; border-bottom: none; height: 28px; margin: 0; }

        .treesearch .input-query { position: absolute; right: 6px; top: 2px; color: #ccc; font-size: 16px; cursor: pointer; }

        .card-box { width: 195px; height: 60px; float: left; border: 1px solid #ccc; background-color: #fff; border-radius: 3px; margin-left: 10px; margin-top: 10px; overflow: hidden; position: relative; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none; cursor: pointer; }

        .card-box-content p { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 120px; }

        .card-box-img img { margin-left: 9px; border-radius: 45px; }

        .card-box.active { border: 2px solid #ff5d5b; padding: 0 0; background: url(../../Content/Images/duihao_03.png) right top no-repeat; }

        .card-box-img { float: left; width: 60px; height: 60px; line-height: 58px; background-color: #ebebeb; border-right: 1px solid #ccc; }

        .card-box-content { float: left; padding-left: 6px; padding-top: 4px; }

        .card-box-content p { font-size: 9px; }
    </style>
}

@section scripts{
    <script>

        var roleId = $.getQueryString('Id');

        var vm = new Vue({
            el: "#v-app",
            data: {},
            mounted: function () {
                this.get_user();
            },
            methods: {
                btn_search: function () {

                },
                get_user: function () {
                    if (!roleId) return;
                    com.ajax({
                        url: '/Plat/AppRole/GetAllotUserGrid',
                        data: { 'roleId': roleId },
                        success: function (data) {
                            vm.init_userlist(data);
                        }
                    })
                },
                init_userlist: function (data) {
                    if (data.length > 0) {
                        var _html = "";

                        $.each(data, function (i) {
                            var row = data[i];
                            var imgNameUrl = '/Content/Images/';
                            var sex = "保密";
                            if (row.Gender == 1) {
                                imgNameUrl += "UserCard01.png";
                                sex = "程序媛";
                            } else if (row.Gender == 2) {
                                imgNameUrl += "UserCard02.png";
                                sex = "程序猿";
                            } else {
                                imgNameUrl += "mo.jpg";
                            }
                            if (row.HeadHref != "" && row.HeadHref != null) {
                                imgNameUrl = row.HeadHref;
                            }
                            var active = "";
                            if (row.IsActive == true) {
                                active = "active";
                            } else {
                                active = ''
                            }
                            if (row.RealName == null) {
                                row.RealName = "";
                            }
                            _html += '<div class="card-box ' + active + '">';
                            _html += '    <div class="card-box-img">';
                            _html += '        <img src="' + imgNameUrl + '" style="width:40px;height:45px;"/>';
                            _html += '    </div>';
                            _html += '    <div id="' + row.Id + '" class="card-box-content">';
                            _html += '        <p title="' + row.LoginName + '">账户：' + row.LoginName + '</p>';
                            _html += '        <p>昵称：' + row.NickName + '</p>';
                            _html += '        <p>性别：' + sex + '</p>';
                            _html += '    </div><i></i>';
                            _html += '</div>';
                        });

                        $(".gridPanel").html(_html)

                        $(".card-box").click(function () {
                            if (!$(this).hasClass("active")) {
                                $(this).addClass("active")
                            } else {
                                $(this).removeClass("active")
                            }
                        });
                    } else {
                        $('.gridPanel').html('<h1 class="h3 text-center"><i class="fa fa-user"></i> 暂无成员?你的用户数据呢!</h1>');
                    }

                    //模糊查询用户（注：这个方法是由jquery查询）
                    $("#txt_TreeKeyword").keyup(function () {
                        var value = $(this).val();
                        if (value != "") {
                            window.setTimeout(function () {
                                $(".card-box")
                                    .hide()
                                    .filter(":contains('" + (value) + "')")
                                    .show();
                            }, 200);
                        } else {
                            $(".card-box").show();
                        }
                    }).keyup();

                },
                submit: function () {
                    var userIds = [];
                    $('.gridPanel .active .card-box-content').each(function () {
                        userIds.push($(this).attr('id'));
                    });
                    var postData = {};
                    postData["roleId"] = roleId;
                    postData["userIds"] = String(userIds)
                    com.ajax({
                        url: "/Plat/AppRole/SaveMembers",
                        showMsg: true,
                        data: postData
                    })
                }
            }
        });

    </script>
}