@{
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
    ViewBag.Title = ViewBag.TypeName;
}
@section css{
  <style>
    </style>

}


<div class="container" style="margin-top:80px;" id="v-app">
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <div class="navcates">
                <i class="fa fa-home"></i>当前位置：<a href="/" target="_blank">首页</a>
                <i class="fa fa-angle-right"></i>
                <span>@ViewBag.TypeName</span>
                <i class="fa fa-angle-right" v-show="items&&items.length>0"></i>
                <span v-show="items&&items.length>0">正文</span>
            </div>
            <!--main-inner start-->
            <div class="main-inner">
                <div class="error-404 not-found page" v-if="items&&items.length==0" v-cloak>
                    <h3 class="text-center">亲，该网页可能搬家了！<i class="fa fa-smile-o"></i></h3>
                    <div class="searchbar">
                        <span>
                            <input type="text" name="s" value="" class="form-control col-md-8" placeholder="输入搜索内容" />
                            <button type="button" class="btn btn-primary col-md-4">搜索</button>
                        </span>
                    </div>
                </div>
                <div class="flbox" v-for="item in items" v-show="items&&items.length>0" v-cloak>
                    <article class="post">
                        <figure class="thumbnail box-hide box-show">
                            <a :href="'/App/Detail/'+item.Id">
                                <img :src="item.thumbnail" :alt="item.Title">
                            </a>
                        </figure>
                        <span class="new-ico">NEW</span>
                        <header class="entry-header">
                            <h4 class="entry-title">
                                <a :href="'/App/Detail/'+item.Id" v-text="item.Title"></a>
                            </h4>
                        </header>
                        <div class="entry-content">
                            <span class="entry-meta">
                                <span class="date" data-toggle="tooltip" :title="item.CreatorTime">
                                    <i class="fa fa-clock-o"></i>
                                    &nbsp;{{item.TimeSpan}}
                                </span>
                                <span class="cat">
                                    <i class="fa fa-folder"></i>&nbsp;
                                    <a :href="'/App/Category?category='+item.TypeCode" v-text="item.TypeName" target="_blank"></a>
                                </span>
                                <span class="views">
                                    <i class="fa-user fa">
                                    </i>&nbsp;
                                    <a :href="'/App/User/'+item.CreatorUserId" v-text="item.NickName" data-toggle="tooltip" :title="'由'+item.NickName +'发布'">
                                    </a>
                                </span> <span class="comment">
                                    <i class="fa fa-comment">
                                    </i>&nbsp;
                                    <a :href="'/App/Detail/'+item.Id+'#author-comment'" v-text="item.CommentQuantity+'条评论'"> </a>
                                </span>
                            </span>
                            <br>
                            <div class="archive-content" v-text="item.Excerpt"> </div>
                            <div class="clear"></div>
                        </div>
                    </article>
                </div>
            </div>
            <!--main-inner end-->
            <div id="review-page" class="text-right" v-show="items&&items.length>0"></div>
        </div>

        @{Html.RenderPartial("_RightSidebar"); }
    </div>
</div>



@section scripts{
    <script>
        $(function () {
            $('.scroll-c').css('display', 'none');
        })
        var vmJson = com.replaceSpce('@Html.Raw(ViewBag.ViewModel)');
        var request = com.get_params();
        var vm = new Vue({
            el: "#v-app",
            data: {
                limit: 10,
                total: vmJson.Total,
                items: vmJson.Rows,
                RelateArt: [],
                Category: [],
                RecommendArt: [],
                ArchiveFile: [],
                RandomArt: [],
                ArtTag: []
            },
            mounted: function() {
                this.init_datagrid();
                this.get_relate_list();
            },
            methods: {
                init_datagrid: function() {
                    var that = this;
                    that.layuipage(vmJson.Total);
                },
                layuipage: function(total) {
                    var that = this;
                    layui.laypage.render({
                        elem: 'review-page',
                        limit: that.limit,
                        count: total,
                        curr: 1,
                        groups: 5,
                        layout: ['prev', 'page', 'next', 'skip'],
                        jump: function(obj, first) {
                            //首次不执行
                            if (!first) {
                                //1.跳转分页时也需要将查询参数携带给后台，才算真正的分页效果,
                                var data = {
                                    'limit': that.limit,
                                    'offset': (obj.curr - 1) * that.limit,
                                    'archive': request.archive,
                                    'category': request.category,
                                    'tag': request.tag
                                };
                                that.get_itemgrid(data);
                            }
                        }
                    });
                },
                get_itemgrid: function(data, callback) {
                    com.ajax({
                        url: '/Plat/Article/GetIndexGird',
                        data: data,
                        showLoading: false,
                        success: function(json) {
                            vm.$data.items = json.Rows;
                            if (typeof (callback) == 'function') {
                                callback(json);
                            }
                        }
                    })
                },
                get_relate_list: function() {
                    com.ajax({
                        url: '/App/GetRelateList',
                        showLoading: false,
                        data: { Id: 1 },
                        success: function(data) {
                            vm.RelateArt = data.RelateArt;
                            vm.Category = data.Category;
                            vm.RecommendArt = data.RecommendArt;
                            vm.ArchiveFile = data.ArchiveFile;
                            vm.RandomArt = data.RandomArt;
                            vm.ArtTag = data.ArtTag;

                        }
                    });
                }
            }
        });
    </script>
}

