<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="Cookie" />
  <!-- 启用系统日志-->
  <add key="IsLog" value="true" />
  <!--是否单个浏览器登录【true，false】-->
  <add key="loginOnce" value="false"/>
  <!-- 数据库超时间-->
  <add key="CommandTimeout" value="180" />
  <!--启用IP过滤 -->
  <add key="IsIPFilter" value="false" />
  <!-- ================== 2：系统软件参数配置 ================== -->
  <!-- 联系我们 -->
  <add key="Contact" value="http://igeekfan.cn" />
  <!-- 软件名称 -->
  <add key="SoftName" value="Mo系统管理" />
  <!-- 软件版本 -->
  <add key="Version" value="1.0.0" />
  <!-- ================== 3：外部邮箱参数 ================== -->
  <!-- 设置邮箱名称 -->
  <add key="MailName" value="邮箱中心" />
  <!-- 设置邮箱地址 -->
  <add key="MailUserName" value="igeekfan@163.com" />
  <!-- 设置邮箱密码 -->
  <add key="MailPassword" value="abc520" />
  <!-- 设置邮箱主机 -->
  <add key="MailHost" value="smtp.163.com" />

  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!--redis key前缀-->
  <add key="Redis.DefaultKey" value="redis.Helper.Mock"/>

  <add key="DeveloperEmail" value="710277267@qq.com"/>

  <add key="Root" value="127.0.0.1"/>

  <add key="log4net.Internal.Debug" value="false"/>

  <add key="ErrorToMail" value="true"/>

</appSettings>