
@{
    ViewBag.Title = "登录页面";
    Layout = "~/Views/Shared/_Index.cshtml";
}

@section  css{
    <link href="~/Content/css/plugins/skins/all.css" rel="stylesheet" />
    <style>
        html { height: 100%; width: 100%; }
        .login-container { background: #00BCD4; position: absolute; width: 100%; height: 100%; }
            .login-container .container .row { margin-top: 40px; }
        a { color: #000; }
            a:hover { color: #fff; }
        .footer { margin: 50px 0 0; padding: 20px 0 30px; line-height: 30px; text-align: center; color: #737573; /*border-top: 1px solid #e2e2e2;*/ }
        a:hover { text-decoration: none; }
        .form-bg { background: #00b4ef; }
        .form-horizontal { background: #fff; padding-bottom: 40px; text-align: center; border-radius: 3px; }
            .form-horizontal .heading { display: block; font-size: 30px; font-weight: 700; padding: 35px 0; border-bottom: 1px solid #f0f0f0; margin-bottom: 30px; }
            .form-horizontal .form-group { padding: 0 40px; margin: 0 0 25px 0; position: relative; }
            .form-horizontal .form-control { background: #f0f0f0; border: none; box-shadow: none; padding: 0 20px 0 45px; height: 40px; transition: all 0.3s ease 0s; }
                .form-horizontal .form-control:focus { background: #e0e0e0; box-shadow: none; outline: 0 none; }
            .form-horizontal .form-group i { position: absolute; top: 12px; left: 60px; font-size: 17px; color: #c8c8c8; transition: all 0.5s ease 0s; }
            .form-horizontal .form-control:focus + i { color: #00b4ef; }
            .form-horizontal .fa-question-circle { display: inline-block; position: absolute; top: 12px; right: 60px; font-size: 20px; color: #808080; transition: all 0.5s ease 0s; }
                .form-horizontal .fa-question-circle:hover { color: #000; }
            .form-horizontal .main-checkbox { float: left; width: 100px; height: 20px; position: relative; margin: 5px 0 0 5px; }
            .form-horizontal .btn { font-size: 14px; padding: 10px 25px; border: none; text-transform: capitalize; transition: all 0.5s ease 0s; }
    </style>

}
<div class="login-container">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <form class="form-horizontal" id="v-app" v-on:keyup.enter="btn_login">
                    <span class="heading">用户登录</span>
                    <div class="form-group">
                        <input type="text" class="form-control" v-model="loginName" isvalid="yes" checkexpession="NotNull" placeholder="用户名或电子邮件" errormsg="用户名或电子邮件">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="form-group help">
                        <input type="password" class="form-control" v-model="pwd" placeholder="密　码" isvalid="yes" checkexpession="NotNull" errormsg="密码">
                        <i class="fa fa-lock"></i>
                        <a href="#" v-on:click="forget_pwd" class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="忘记密码"></a>
                    </div>
                    <div class="form-group">
                        @*<div class="main-checkbox">
                                <input type="checkbox" id="input-4" name="rememberMe" checked />
                                <label for="input-4">记住密码 </label>
                            </div>*@
                        <button type="button" v-on:click="btn_login" class="btn btn-primary" style="width:100%;"> 登录</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="footer">
        <p>
            <a href="http://igeekfan.cn/" target="_blank">
                Mock博客<span>·</span>
            </a>2014~@DateTime.Now.Year ©<span>·</span>
            <a href="http://igeekfan.cn/" target="_blank">
                igeekfan.com
            </a>
        </p>
        <p>
            <a href="http://igeekfan.cn./Home/3147.html" target="_blank">产品授权</a><span>·</span>
            <a href="https://github.com/luoyunchong/Mock.luo" target="_blank">获取igeekfan博客代码</a><span>·</span>
            <a href="http://igeekfan.cn/Home/2461.html" target="_blank">微信公众号</a>
        </p>
    </div>
</div>



@section scripts{
    <script src="~/Content/js/plugins/jquery.md5.js"></script>
    <script src="~/Content/js/plugins/icheck.min.js"></script>
    <script>
        var vm = new Vue({
            el: "#v-app",
            data: {
                loginName: '',
                pwd: '',
                rememberMe: true
            },
            mounted: function () {
                this.init_check();
                $('[data-toggle="tooltip"]').tooltip();
            },
            methods: {
                init_check: function () {
                    $('input[type=checkbox]').on('ifChanged', function (event) {
                        vm.rememberMe = $(event.target).prop('checked');
                    }).iCheck({
                        labelHover: false,
                        cursor: true,
                        checkboxClass: 'icheckbox_square-blue',
                        increaseArea: '20%'
                    });
                },
                btn_login: function () {
                    if (!$('#v-app').Validform()) {
                        return false;
                    }
                    var postdata = {
                        loginName: $.trim(vm.loginName),
                        pwd: $.md5($.trim(vm.pwd)),
                        rememberMe: vm.rememberMe
                    };
                    com.ajax({
                        url: '/Login/CheckLogin',
                        data: postdata,
                        success: function (jsondata) {
                            $.procAjaxMsg(jsondata, function () {
                                $.layerMsg(jsondata.message, jsondata.state, function () {
                                    window.location.href = "/Home/Index";
                                });
                            }, function () {
                                $.layerMsg(jsondata.message, jsondata.state)
                            })
                        }
                    })

                },
                btn_register: function () {
                    console.log('btn_register');
                    $.layerMsg('待完成！')
                },
                forget_pwd: function () {
                    $.layerMsg('忘记密码', '', 'info')
                }
            }
        })
    </script>
}

